/*
 * -------------------------------------------------
 *  Nextflow config file for running tests with
 *  modification localization
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/proteomicslfq -profile test_localize,<docker/singularity/podman>
 */

params {
  config_profile_name = 'Test phospho-localization profile'
  config_profile_description = 'Minimal test dataset to check pipeline function for phospho-localization, SDRF parsing and ConsensusID.'

  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 1.h
  
  // Input data
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/proteomicslfq/testdata/phospho/test_phospho.sdrf'
  database = 'https://raw.githubusercontent.com/nf-core/test-datasets/proteomicslfq/testdata/phospho/pools_crap_targetdecoy.fasta'
  enable_mod_localization = true
  search_engines = 'comet,msgf'
  enable_qc = true
}
