/*
 * -------------------------------------------------
 *  Nextflow config file for running comprehensive tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a comprehensive test with data downloaded from PRIDE. Use as follows:
 *   nextflow run nf-core/proteomicslfq -profile test_full,<docker/singularity/podman>
 *
 * For a short test of functionality, see the 'test' profile/config.
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Real-world sized test dataset to check pipeline function and sanity of results'

  // Input data
  input = [
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2015/12/PXD001819/UPS1_2500amol_R1.raw',
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2015/12/PXD001819/UPS1_2500amol_R2.raw',
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2015/12/PXD001819/UPS1_2500amol_R3.raw',
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2015/12/PXD001819/UPS1_50000amol_R1.raw',
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2015/12/PXD001819/UPS1_50000amol_R2.raw',
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2015/12/PXD001819/UPS1_50000amol_R3.raw'
  ]
  database = 'https://raw.githubusercontent.com/nf-core/test-datasets/proteomicslfq/testdata-aws/uniprot_yeast_reviewed_isoforms_ups1_crap.fasta_td.fasta'
  expdesign = 'https://raw.githubusercontent.com/nf-core/test-datasets/proteomicslfq/testdata-aws/experimental_design_short.tsv'
  posterior_probabilities = "percolator"
  search_engines = "comet"
  psm_pep_fdr_cutoff = 0.01
  decoy_affix = "rev"
  protein_inference = "bayesian"
  targeted_only = "false"
}
